<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Startiny</title>
</head>
<body>

    <form action="/sub" method="POST">
        <input type="number" name="milestones" placeholder="milestones">
        <input type="number" name="is_top500" placeholder="is_top500">
        <input type="number" name="has_roundB" placeholder="has_roundB">
        <input type="number" name="funding_rounds" placeholder="funding_rounds">
        <input type="number" name="age_last_milestone_year" placeholder="age_last_milestone_year">
        <input type="number" name="avg_participants" placeholder="avg_participants">
        <input type="number" name="has_roundA" placeholder="has_roundA">
        <input type="number" name="has_roundC" placeholder="has_roundC">
        <input type="number" name="has_roundD" placeholder="has_roundD">
        <input type="number" name="age_first_milestone_year" placeholder="age_first_milestone_year">
        <input type="number" name="is_enterprise" placeholder="is_enterprise">
        <input type="number" name="age_last_funding_year" placeholder="age_last_funding_year">
        <input type="number" name="is_advertising" placeholder="is_advertising">
        <input type="number" name="funding_total_usd" placeholder="funding_total_usd">
        <input type="number" name="is_software" placeholder="is_software">
        <input type="number" name="is_mobile" placeholder="is_mobile">
        <input type="number" name="is_consulting" placeholder="is_consulting">
        <input type="number" name="is_biotech" placeholder="is_biotech">
        <input type="number" name="is_web" placeholder="is_web">
        <input type="number" name="is_gamesvideo" placeholder="is_gamesvideo">
        <input type="number" name="is_othercategory" placeholder="is_othercategory">
        <input type="number" name="is_TX" placeholder="is_TX">
        <input type="number" name="has_VC" placeholder="has_VC">
        <input type="number" name="is_ecommerce" placeholder="is_ecommerce">
        <input type="number" name="has_angel" placeholder="has_angel">
        <input type="number" name="age_first_funding_year" placeholder="age_first_funding_year">
        <input type="submit">
    </form>
</body>
</html>
